html {
    --vh: 3.14px;
}

body {
    font-family: 'Helvetica Neue', HelveticaNeue, Roboto, 'Liberation Sans', 'Nimbus Sans L', Helvetica,
    'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: lowercase;
}

#root {
    height: calc(var(--vh, 1vh) * 100);
    min-height: 100vh;
}

:root {
    --color-primary: red;
    --color-secondary: yellow;
    --color-tertiary: green;
    --color-quaternary: yellow;
    --color-quinary: red;
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }
    10% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary);
    }
    20% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary),
        3.8px 3.8px 0 var(--color-tertiary);
    }
    30% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary),
        3.8px 3.8px 0 var(--color-tertiary), 5.8px 5.8px var(--color-quaternary);
    }
    40% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary),
        3.8px 3.8px 0 var(--color-tertiary), 5.8px 5.8px var(--color-quaternary),
        7.8px 7.8px 0 var(--color-quinary);
    }
    50% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary),
        3.8px 3.8px 0 var(--color-tertiary), 5.8px 5.8px var(--color-quaternary),
        7.8px 7.8px 0 var(--color-quinary);
    }
    60% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary),
        3.8px 3.8px 0 var(--color-tertiary), 5.8px 5.8px var(--color-quaternary),
        7.8px 7.8px 0 var(--color-quinary);
    }
    70% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary),
        3.8px 3.8px 0 var(--color-tertiary), 5.8px 5.8px var(--color-quaternary);
    }
    80% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary),
        3.8px 3.8px 0 var(--color-tertiary);
    }
    90% {
        text-shadow: 1.8px 1.8px 0 var(--color-secondary);
    }
    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(-12px, -12px);
    }
    50% {
        transform: translate(-12px, -12px);
    }
    60% {
        transform: translate(-12px, -12px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes shake {
    0% {
        transform: rotate(-15deg);
    }
    16% {
        transform: rotate(-15deg);
    }
    32% {
        transform: rotate(-15deg);
    }
    48% {
        transform: rotate(15deg);
    }
    64% {
        transform: rotate(15deg);
    }
    80% {
        transform: rotate(15deg);
    }
    96% {
        transform: rotate(-15deg);
    }
}


.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice {
    padding: 10px;
    background-color: #a55273;
    width: 52px;
    height: 52px;
    border-radius: 10%;
    margin-right: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #fccc69;
}

.small-dice {
    width: 26px !important;
    height: 26px !important;
    background-color: #5d7fc9 !important;
}

.dot {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fde27c;
}

.small-dot {
    width: 6px !important;
    height: 6px !important;
    color: #fde27c !important;
}

.second-face {
    display: flex;
    justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
    align-self: flex-end;
}

.third-face {
    display: flex;
    justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
    align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
    align-self: center;
}


.fourth-face, .sixth-face, .fifth-face {
    display: flex;
    justify-content: space-between;
}

.fourth-face .column, .sixth-face .column, .fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

.Toastify__toast-container {
    width: 100% !important;
}

.Toastify__toast-body {
    min-height: 50px !important;
    text-align: center;
}

.Toastify__toast {
    border-radius: 10px !important;
    padding: 5px !important;
    border: 1px solid #ffcd67;
    background-color: #ffe17b !important;
    color: #a25271 !important;
    font-size: 24px !important;
    font-family: inherit !important;
    font-weight: bold !important;
    line-break: auto !important;
}

.Toastify__toast-container--top-center {
    top: 50% !important;
}
